@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts{
    <script src="site.js"></script>
}

<div class="text-center">
    <h1 class="display-4" style="color:red">Welcome</h1>
    <iframe src="https://www.youtube.com/embed/7eul_Vt6SZY" width="400" height="300"></iframe>
    <br>
    <button id="btn" onclick="message()">Click me!</button>
</div>
