
@using CarInsurance.ViewModels
@model List<InsureeVM>

@*using bootstrap to make nice table*@
<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailAddress</th>
            <th>Quote</th>
        </tr>
     </thead>
    <tbody>
        @foreach (var insuree in Model)
        {
        <tr>
            <td>
                @insuree.FirstName
            </td>
            <td>
                @insuree.LastName
            </td>
            <td>
                @insuree.EmailAddress
            </td>
            <td>
                @insuree.quote
        </tr>
        }
        </tbody>
</table>



